html{
  padding:0;
  margin:0;
}

.app {
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
}

.homePageContainer {
  display:flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.appbar {
  width: 100%;
}
.dashboardContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: space-around;
  margin-right: 200px;
}
.cardChartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 55%;
}
.settingsContainer {
  height: 650px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settingsTabContainer {
  width: 500px;
}
.chartSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chartContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 100%;
  width: 50%;
  align-items: flex-start;
}
.chartDatePicker {
  width: 100%;
  height: 100%;
}
.datePickerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.startDatePickerContainer {
  display: flex;
  flex-direction: column;
}
.endDatePickerContainer {
  display: flex;
  flex-direction: column;
}
.locationSettingsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.filterFormContainer {
  margin-top: 30px;
  margin-left: 40px;
}
.filterOptionsContainer {
  display: flex;
  flex-direction: row;
}
.locationSelectionContainer {
  margin-left: 40px;
}
.expandContainers {
  margin-top: 30px;
}
.expandPanel {
  width: 100%;
}
.locationOptions {
  height: 200px;
}
.locationPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cohortPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nonePanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}
.noneOption {
  margin-top: 30px;
}
.applyCancelContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.statsCard {
  height: 325px;
  width: 100%;
}
.cardContent {
  height: 100%;
  width: 100%;
}
.pieChartsContainer {
  height: 70%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.pieChartContainer {
  height: 175px;
  width: 175px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.positiveModal {
  height: 450px;
  width: 700px;
  position: absolute;
  background-color: white;
}
.chartCard {
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.cardRankingContainer {
  height: 100%;
  width: 100%;
}

.rankingCard {
  height: 100%;
  width: 500px;
}
.rankingTableContainer {
  margin-top: 50px;
  height: 700px;
}
.rankingTableWrapper {
  overflow-x: 'auto';
}
.rankingTable {
  min-width: 200px;
}
.locationColumn {
  width: 100px;
}
.paging {
    flex-shrink: 0,
}
body {
  background-image: url("img/background.jpg")
}

button {
  background-color: white;
  color: black;
  border: 2px solid ;
  padding: 15px 32px;
  cursor:pointer;
}
